h1{
    font-size: 40px;
    color: rgb(172, 14, 14);
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(105, 241, 153);
}
h2{
    font-size: 20px;
}
